<div class="container-fluid mt-3">
    <div class="row">
        <div class="col-md-4">
            <h5>Manage Project Members</h5>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a routerLink="/dashboard">Dashboard</a></li>
                <li class="breadcrumb-item active" aria-current="page">Manage Project Members</li>
            </ol>
        </div>
        <div class="col-md-8">
            <div class="d-flex justify-content-end align-items-center">
                <div class="input-group" style="flex-grow: 1; min-width: 250px; max-width: 60%;">
                    <input type="text" class="form-control" placeholder="Search Brands" aria-label="Search Brands">
                </div>
                @if(roleName=="Admin" || roleName=="Manager" || roleName=="Team Lead"){
                    <button class="btn btn-primary ml-2" (click)="openForm()" data-toggle="modal" data-target="#projectMemberModal">Assign Project</button>
                }
            </div>
        </div>
    </div>

    <div class="table-responsive">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th><input type="checkbox"></th>
                    <th>ID</th>
                    <th>Employee Name</th>
                    <th>Project Name</th>
                    <th>Branch Name</th>
                    <th>Module Name</th>
                    <th>Module Description</th>
                    <th>Start date</th>
                    <th>End Date</th>
                    <th>Manager name</th>
                    <th>Task Completion</th>
                    @if(roleName=="Admin" || roleName=="Manager" || roleName=="Team Lead"){
                        <th>Status</th>
                        <th>Actions</th>
                    }
                </tr>
            </thead>
            
            <tbody>
                @if(memberRecord && memberRecord.length>0){
                    @for (item of memberRecord; track $index) {
                        @if(item.empId==loginId && item.roleName!=1){
                            <tr>
                                <td><input type="checkbox"></td>
                                <td>{{$index+1}}</td>
                                <td>{{item.firstName +' '+ item.lastName}}</td>
                                <td>{{item.projectName}}</td>
                                <td>{{item.branchName}}</td>
                                <td>{{item.moduleName}}</td>
                                <td>{{item.moduleDescription}}</td>
                                <td>{{item.moduleStartDate}}</td>
                                <td>{{item.moduleEndDate}}</td>
                                <td>{{item.roleName}}</td>
                                <td>
                                    @if(item.approved==0){
                                        <button class="btn btn-danger p-1">Pending(for user only)</button>
                                    }
                                    @else if(item.approved==1){
                                        <button class="btn btn-danger">Pending</button>
                                    }@else {
                                        <button class="btn btn-success">Approved</button>
                                    }
                                </td>
                                @if(roleName=="Admin" || roleName=="Manager" || roleName=="Team Lead"){
                                    <td>
                                        <button class="btn" [class.btn-danger]="item.status == 0" [class.btn-success]="item.status != 0" (click)="toggleStatus(item)">
                                            {{ item.status == 0 ? 'Not Assign' : 'Assign' }}
                                        </button>                               
                                    </td>
                                    <td>
                                        <button class="btn edit-btn" data-toggle="modal" data-target="#projectMemberModal" title="Edit Record" (click)="editRecord(item)" ><i class="fas fa-edit"></i></button>
                                        <button class="btn delete-btn" title="Delete Record" (click)="deleteRecord(item.projectMemberId)"><i class="fa fa-trash" aria-hidden="true"></i></button>
                                    </td>
                                }
                            </tr>
                        }@else if((item.empId==loginId && item.roleName=="Manager") || (item.empId==loginId && item.roleName=="Team Lead")){
                            <tr>
                                <td><input type="checkbox"></td>
                                <td>{{$index+1}}</td>
                                <td>{{item.firstName +' '+ item.lastName}}</td>
                                <td>{{item.projectName}}</td>
                                <td>{{item.branchName}}</td>
                                <td>{{item.moduleName}}</td>
                                <td>{{item.moduleDescription}}</td>
                                <td>{{item.moduleStartDate}}</td>
                                <td>{{item.moduleEndDate}}</td>
                                <td>{{item.roleName}}</td>
                                <td>
                                    @if(item.approved==0){
                                        <button class="btn btn-danger p-1">Pending(for user only)</button>
                                    }
                                    @else if(item.approved==1){
                                        <button class="btn btn-danger">Pending</button>
                                    }@else {
                                        <button class="btn btn-success">Approved</button>
                                    }
                                </td>
                                @if(roleName=="Admin" || roleName=="Manager" || roleName=="Team Lead"){
                                    <td>
                                        <button class="btn" [class.btn-danger]="item.status == 0" [class.btn-success]="item.status != 0" (click)="toggleStatus(item)">
                                            {{ item.status == 0 ? 'Not Assign' : 'Assign' }}
                                        </button>                               
                                    </td>
                                    <td>
                                        <button class="btn edit-btn" data-toggle="modal" data-target="#projectMemberModal" title="Edit Record" (click)="editRecord(item)" ><i class="fas fa-edit"></i></button>
                                        <button class="btn delete-btn" title="Delete Record" (click)="deleteRecord(item.projectMemberId)"><i class="fa fa-trash" aria-hidden="true"></i></button>
                                    </td>
                                }
                            </tr>
                        }@else if(roleId==1){
                            <tr>
                                <td><input type="checkbox"></td>
                                <td>{{$index+1}}</td>
                                <td>{{item.firstName +' '+ item.lastName}}</td>
                                <td>{{item.projectName}}</td>
                                <td>{{item.branchName}}</td>
                                <td>{{item.moduleName}}</td>
                                <td>{{item.moduleDescription}}</td>
                                <td>{{item.moduleStartDate}}</td>
                                <td>{{item.moduleEndDate}}</td>
                                <td>{{item.roleName}}</td>
                                <td>
                                    @if(item.approved==0){
                                        <button class="btn btn-danger p-1">Pending(for user only)</button>
                                    }
                                    @else if(item.approved==1){
                                        <button class="btn btn-danger">Pending</button>
                                    }@else {
                                        <button class="btn btn-success">Approved</button>
                                    }
                                </td>
                                @if(roleName=="Admin" || roleName=="Manager" || roleName=="Team Lead"){
                                    <td>
                                        <button class="btn" [class.btn-danger]="item.status == 0" [class.btn-success]="item.status != 0" (click)="toggleStatus(item)">
                                            {{ item.status == 0 ? 'Not Assign' : 'Assign' }}
                                        </button>                               
                                    </td>
                                    <td>
                                        <button class="btn edit-btn" data-toggle="modal" data-target="#projectMemberModal" title="Edit Record" (click)="editRecord(item)" ><i class="fas fa-edit"></i></button>
                                        <button class="btn delete-btn" title="Delete Record" (click)="deleteRecord(item.projectMemberId)"><i class="fa fa-trash" aria-hidden="true"></i></button>
                                    </td>
                                }
                            </tr>
                        }
                        
                    }
                }@else {
                    <tr>
                        <td colspan="11" class="text-center">
                            <img src="path_to_no_data_icon.png" alt="No Data" style="width: 50px;">
                            <p>No records found</p>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

    <!-- Pagination aligned to the right -->
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-end">
            <li class="page-item disabled"><a class="page-link" href="#">Previous</a></li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">Next</a></li>
        </ul>
    </nav>
</div>


  <!-- Modal -->
  <div class="modal fade" id="projectMemberModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Add Member</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <form #projectMemberData="ngForm" (ngSubmit)="saveProjectMember(projectMemberData)">
                @if(roleId==1){
                    <div class="form-group">
                        <label for="RoleId">Manager/Team Lead</label>
                        <select (change)="onManagerRoleChange()" [(ngModel)]="selectManagerId" id="RoleId" name="RoleId" class="form-control">
                            <option [value]="null">Select Manager</option>
                            <option *ngFor="let x of managerRecord" [value]="x.empId" [selected]="x.empId==RoleId">{{ x.firstName + ' ' + x.lastName }}</option>
                        </select>
                    </div>
                }@else {
                    <input type="hidden" [(ngModel)]="loginId" name="RoleId">
                }
                
                <div class="form-group">
                    <label for="ProjectID">Select Project</label>
                    <!-- <select [(ngModel)]="selectedProjectId" (change)="onProjectChange()" id="ProjectID" name="ProjectID" class="form-control">
                        <option [value]="null">Select Project</option>
                        <option *ngFor="let x of project" [value]="x.projectId" [selected]="x.projectId==ProjectID ">{{ x.projectName }}</option>
                        <option *ngIf="!project?.length" disabled>No Record Found</option>
                    </select> -->
                    {{roleId}}
                    <select [(ngModel)]="selectedProjectId" (change)="onProjectChange()" id="ProjectID" name="ProjectID" class="form-control">
                        <option [ngValue] ="null">Select Project</option>
                        @for(x of project;track project){
                            @if(x.empId==loginId){
                                <option [value]="x.projectId">{{ x.projectName }}</option>
                            }@else if(roleId==1){
                                <option [value]="x.projectId">{{ x.projectName }}</option>
                            }
                        }
                    </select>
                </div>
                <div class="form-group">
                    <label for="BranchId">Select Branch:</label>
                    <select id="BranchId" name="BranchId" class="form-control" ngModel>
                        <option [value]="null">Select Branch</option>
                        <option *ngFor="let x of branch" [value]="x.branchId" [selected]="x.branchId==BranchID ">{{ x.branchName }}</option>
                        <option *ngIf="!branch?.length" disabled>No Record Found</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="ProModuleId">Project Module</label>
                    <select id="ProModuleId" name="ProModuleId" class="form-control" ngModel>
                        <option [value]="null">Select Module</option>
                        <option *ngFor="let x of module" [value]="x.proModuleId" [selected]="x.proModuleId==ModuleId">{{ x.moduleName }}</option>
                        <option *ngIf="!module?.length" disabled>No Record Found</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="EmpId">Employee</label>
                    <select id="EmpId" name="EmpId" class="form-control" ngModel>
                        <option value="">Select Employee</option>
                        <option *ngFor="let x of employeeRecord" [value]="x.empId" [selected]="x.empId==EmployeeId " >{{ x.firstName + ' ' + x.lastName }}</option>
                    </select>
                </div>
                <h5 class="text-center">{{showMsg}}</h5>
                <button type="submit" class="btn btn-primary">{{btnText}}</button>
            </form>
            
        </div>
      </div>
  </div>
