<div class="container-fluid mt-3">
    <div class="row">
        <div class="col-md-12">
            <h5>Data Analysis</h5>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a routerLink="/dashboard">Dashboard</a></li>
                <li class="breadcrumb-item active" aria-current="page">Manage Project Members</li>
            </ol>
        </div>

        <div class="col-md-4">
            <canvas #empBasedOnManagerChart style="height: 200px; width: 200px;"></canvas>
        </div>
        <div class="col-md-4">
            <canvas #projectBranchCountChart style="height: 300px; width: 200px;"></canvas>
        </div>
        <div class="col-md-4">
            <canvas #projectModuleCountChart style="height: 300px; width: 200px;"></canvas>
        </div>
    </div>

</div>

