<div class="container-fluid mt-3">
    <div class="row justify-content-center">
        <div class="col-md-12">
            <h4 class="text-center mb-3">Profile Details</h4>
            <h6 class="text-center">{{showMsg}}</h6>
        </div>
        <div class="col-md-7">
            <div class="profile-card">
                <div class="row">
                    <div class="col-md-3">
                        <div class="profile-image-container">
                            <img src="https://m.media-amazon.com/images/I/61iEpTDvGiL._AC_UL320_.jpg" alt="Samantha Janes" class="profile-image">
                        </div>
                    </div>
                    <div class="col-md-9">
                        <form #profileData="ngForm" (ngSubmit)="updateProfile(profileData)">
                            <div class="form-row">
                                <div class="form-group col-md-8">
                                    <h6>
                                        <input class="profile-name profile-text" [(ngModel)]="fullName" name="fullName" type="text" id="fullName" placeholder="Full Name">
                                    </h6>
                                </div>
                            </div>
                            <div class="form-row">
                              <div class="form-group col-md-6">
                                <label for="email">Email</label><br>
                                <input type="text" [(ngModel)]="profileRecord.email" name="email" class="profile-text" id="email" placeholder="Email">
                              </div>
                              <div class="form-group col-md-6">
                                <label for="phone">Phone</label><br>
                                <input type="text" [(ngModel)]="profileRecord.phone" name="phone" class="profile-text" id="phone" placeholder="Phone">
                              </div>
                            </div>
                            <div class="form-row">
                              <div class="form-group col-md-6">
                                <label for="role">Role</label><br>
                                <input type="text" disabled [(ngModel)]="profileRecord.roleName" name="role" class="profile-text" id="role" placeholder="Role">
                              </div>
                              <div class="form-group col-md-6">
                                <label for="password">Password</label><br>
                                <input type="password" [(ngModel)]="profileRecord.password" name="password" class="profile-text" id="password" placeholder="Password">
                              </div>
                            </div>
                            <div class="form-row">
                              <div class="form-group col-md-6">
                                <label for="address">Address</label><br>
                                <input type="text" [(ngModel)]="profileRecord.address" name="address" class="profile-text" id="address" placeholder="Address">
                              </div>
                            </div>
                            <button type="submit">Update Profile</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

