<div class="container-fluid mt-3">
    <div class="row justify-content-center">
        <div class="col-md-12">
            <h4 class="text-center mb-3">Profile Details</h4>
        </div>
        <div class="col-md-7">
            <div class="profile-card">
                <div class="row">
                    <div class="col-md-3">
                        <div class="profile-image-container">
                            <img src="https://m.media-amazon.com/images/I/61iEpTDvGiL._AC_UL320_.jpg" alt="Samantha Janes" class="profile-image">
                        </div>
                    </div>
                    <div class="col-md-9">
                        <h1 class="profile-name">Samantha Janes</h1>
                        <form action="">
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <h6><input class="profile-name profile-text" type="text" id="firstName" placeholder="First Name"></h6>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label for="firstName">Email</label><br>
                                    <input type="text" class="profile-text" id="firstName" placeholder="Email">
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="firstName">Phone</label><br>
                                    <input type="text" class="profile-text" id="firstName" placeholder="Phone">
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label for="firstName">Role</label><br>
                                    <input type="text" class="profile-text" id="firstName" placeholder="Role">
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="firstName">Password</label><br>
                                    <input type="text" class="profile-text" id="firstName" placeholder="Password">
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label for="firstName">Address</label><br>
                                    <input type="text" class="profile-text" id="firstName" placeholder="Address">
                                </div>
                            </div>
                            <button>Update Profile</button>
                        </form>
                       
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

