<div class="container-fluid mt-3">
    <div class="row">
        <div class="col-md-3">
            <h5>Manage Request</h5>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a routerLink="/dashboard">Dashboard</a></li>
                <li class="breadcrumb-item active" aria-current="page">Manage Requests</li>
            </ol>
        </div>
        <div class="col-md-9">
            <div class="d-flex justify-content-end align-items-center">
                <div class="input-group" style="flex-grow: 1; min-width: 250px; max-width: 60%;">
                    <input type="text" class="form-control" placeholder="Search Brands" aria-label="Search Brands">
                </div>
                <button class="btn btn-primary ml-2" data-toggle="modal" data-target="#requestModel">Create Request</button>
            </div>
        </div>
    </div>

    <div class="table-responsive">
        <h5 class="text-center">{{showMsg}}</h5>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th><input type="checkbox"></th>
                    <th>S.NO</th>
                    <th>Project Name</th>
                    <th>Description</th>
                    <th>Manager/Team Lead</th>
                    <th>Employee Name</th>
                    <th>Status</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                @if(requestRecord && requestRecord.length>0){
                    @for(x of requestRecord; track $index){
                        
                            <tr>
                                <td><input type="checkbox"></td>
                                <td>{{$index + 1}}</td>
                                <td>{{x.projectName}}</td>
                                <td>{{x.requestDescription}}</td>
                                @if(x.createdByRoleId==loginId)
                                {
                                    <td>{{x.assignedToName}}</td>
                                }
                                @else if(x.assignedToRoleId==loginId){
                                    <td>{{x.assignedToName}}</td>
                                }@else{
                                    <td>{{x.assignedToName}}</td>
                                    <td>{{x.assignedToName}}</td>
                                }
                                <td>
                                    <button class="btn" [class.btn-warning]="x.status == 0" [class.btn-success]="x.status != 0" (click)="toggleStatus(x)">
                                        {{ x.status == 0 ? 'Pending' : 'Approved' }}
                                    </button>                                
                                </td>
                                <td>
                                    <button class="btn edit-btn" data-toggle="modal" data-target="#requestModel" title="Edit Record" (click)="editRecord(x)" ><i class="fas fa-edit"></i></button>
                                    <button class="btn delete-btn" title="Delete Record" (click)="deleteRecord(x.requestId)"><i class="fa fa-trash" aria-hidden="true"></i></button>
                                </td>
                            </tr>
                    }
                }@else{
                    <tr>
                        <td colspan="7" class="text-center">
                            <img src="path_to_no_data_icon.png" alt="No Data" style="width: 50px;">
                            <p>No records found</p>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

    <!-- Pagination aligned to the right -->
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-end">
            <li class="page-item disabled"><a class="page-link" href="#">Previous</a></li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">Next</a></li>
        </ul>
    </nav>
</div>




<div class="modal fade" id="requestModel" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Create Requests</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <form #requestData="ngForm" (ngSubmit)="saveProjectRequest(requestData)">
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="AssignedTo">Manager/Team Lead</label>
                        <select (change)="onManagerRoleChange()" [(ngModel)]="selectManagerId" id="AssignedTo" name="AssignedTo" class="form-control">
                            <option [value]="null">Select Manager</option>
                            <option *ngFor="let x of managerRecord" [value]="x.empId" [selected]="x.empId==RoleId">{{ x.firstName + ' ' + x.lastName }}</option>
                        </select>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="ProjectID">Project</label>
                        <select ngModel id="ProjectID" name="ProjectID" class="form-control">
                            <option [value]="null">Select Project</option>
                            <option *ngFor="let x of project" [value]="x.projectId" [selected]="x.projectId==ProjectID ">{{ x.projectName }}</option>
                            <option *ngIf="!project?.length" disabled>No Record Found</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label for="Description">Description</label>
                    <input type="text" class="form-control" ngModel id="Description" name="Description" placeholder="Project Description">
                </div>
                <input type="hidden" [(ngModel)]="loginId" id="CreatedBy" name="CreatedBy">
                <!-- <input type="hidden" name="CreatedBy" ngModel [value]="loginId"> -->
                <h5 class="text-center">{{showMsg}}</h5>
                <button type="submit" class="btn btn-primary">{{btnText}}</button>
            </form>
            
        </div>
      </div>
  </div>

