<div class="container-fluid mt-3">
    <div class="row">
        <div class="col-md-3">
            <h5>Manage Project Branch</h5>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a routerLink="/dashboard">Dashboard</a></li>
                <li class="breadcrumb-item active" aria-current="page">Manage Branch</li>
            </ol>
        </div>
        <div class="col-md-9">
            <div class="d-flex justify-content-end align-items-center">
                <div class="input-group" style="flex-grow: 1; min-width: 250px; max-width: 60%;">
                    <input type="text" class="form-control" placeholder="Search Brands" aria-label="Search Brands">
                </div>
                <button class="btn btn-primary ml-2" (click)="openForm()" data-toggle="modal"  data-target="#projectBranch">Create Branch</button>
            </div>
        </div>
    </div>

    <div class="table-responsive">
        <h5 class="text-center">{{showMsg}}</h5>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th><input type="checkbox"></th>
                    <th>ID</th>
                    <th>Project Name</th>
                    <th>Branch Name</th>
                    <th>Description</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                @if(branchRecord && branchRecord.length>0){
                    @for(x of branchRecord; track $index){
                        @if(x.empId==loginId && loginId!=1){
                            <tr>
                                <td><input type="checkbox"></td>
                                <td>{{$index + 1}}</td>
                                <td>{{x.projectName}}</td>
                                <td>{{x.branchName}}</td>
                                <td>{{x.branchDescription}}</td>
                                <td>
                                    <button class="btn edit-btn" data-toggle="modal"  data-target="#projectBranch" title="Edit Record" (click)="editRecord(x)" ><i class="fas fa-edit"></i></button>
                                    <button class="btn delete-btn" title="Delete Record" (click)="deleteRecord(x.branchId)"><i class="fa fa-trash" aria-hidden="true"></i></button>
                                </td>
                            </tr>
                        }@else if(roleId==1){
                            <tr>
                                <td><input type="checkbox"></td>
                                <td>{{$index + 1}}</td>
                                <td>{{x.projectName}}</td>
                                <td>{{x.branchName}}</td>
                                <td>{{x.branchDescription}}</td>
                                <td>
                                    <button class="btn edit-btn" data-toggle="modal"  data-target="#projectBranch" title="Edit Record" (click)="editRecord(x)" ><i class="fas fa-edit"></i></button>
                                    <button class="btn delete-btn" title="Delete Record" (click)="deleteRecord(x.branchId)"><i class="fa fa-trash" aria-hidden="true"></i></button>
                                </td>
                            </tr>
                        } 
                    }
                }@else{
                    <tr>
                        <td colspan="6" class="text-center">
                            <img src="path_to_no_data_icon.png" alt="No Data" style="width: 50px;">
                            <p>No records found</p>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

    <!-- Pagination aligned to the right -->
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-end">
            <li class="page-item disabled"><a class="page-link" href="#">Previous</a></li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">Next</a></li>
        </ul>
    </nav>
</div>






<div class="modal fade" id="projectBranch" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Create Branch</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <form #branchData="ngForm" (ngSubmit)="saveProjectBranchRecord(branchData)">
                <div class="form-group">
                    <label for="projectId">Project</label>
                    <select name="projectId" id="projectId" class="form-control" ngModel>
                        <option [ngValue] ="null">Select Project</option>
                        @for(x of project;track project){
                            @if(x.empId==loginId){
                                <option [value]="x.projectId">{{ x.projectName }}</option>
                            }@else if(roleId==1){
                                <option [value]="x.projectId">{{ x.projectName }}</option>
                            }
                        }
                    </select>
                </div>

                <div class="form-group">
                    <label for="BranchName">Branch Name</label>
                    <input type="text" class="form-control" ngModel id="BranchName" name="BranchName" placeholder="Project Name">
                </div>
                <div class="form-group">
                    <label for="Description">Description</label>
                    <input type="text" class="form-control" ngModel id="Description" name="Description" placeholder="Project Description">
                </div>
                
                <h5 class="text-center">{{showMsg}}</h5>
                <button type="submit" class="btn btn-primary">{{btnText}}</button>
            </form>
        </div>
      </div>
    </div>
</div>