/* You can add global styles to this file, and also import other style files */
@import "@aws-amplify/ui/dist/styles.css";

.fa-edit {
  color: #999900;
}
.fa-trash {
  color: #b30000;
}


.sign-page-image img{
  height: auto;
  width: 100%;
}

.sign-box{
  background-color: white;
  box-shadow: 5px 10px 10px 10px lightblue;
  padding: 25px;
}
