<div class="container-fluid">
    <div class="container d-flex justify-content-center">
        <div class="cart">
           
            <div class="dropdown" style="background:red;">
              <button class="btn dropdown-toggle text-light" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                dhshbhbbjhbvh <i class="fa-solid fa-user" aria-hidden="true"></i>
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" >Profile</a>
                <button class="dropdown-item" id="loginBtn" >Logout</button>
              </div>
            </div>


        </div>
    </div>
</div>

